@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #888490;
  letter-spacing: 0.5px;
  line-height: 24px;
}
/*.starter-template {
  padding: 40px 15px;
  text-align: center;
}*/

.menu-top {
    padding: 12px 0;
    background-color: white;
    border: none;
    z-index: 999;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    margin: 0;
}

.header-nav li:nth-child(7) {background-color: #54be73; border-radius: 12px; padding: -15px 0 !important; margin-right: 14px; }
.header-nav li > a:nth-child(7) {padding: -15px 0 !important; color: white !important;}

.header-nav li:nth-child(8) {background-color: #54be73; border-radius: 12px; padding: -15px 0 !important; }
.header-nav li > a:nth-child(8) {padding: -15px 0 !important; color: white !important;}

.header-top {width: 100%; background: rgba(4,23,46, 1) none; padding: 8px 0 2px 0;}
.header-top i {margin-right: 10px;}

.navbar-brand {margin: 0; padding: 0;}
.navbar-brand img {height: 54px;}
.header-nav a {font-weight: 600; color: black !important; font-size: 16px; }

@media (max-width:480px){

.header-nav li:nth-child(7) {background-color: #54be73; border-radius: 12px; padding: -15px 0 !important; margin-right: 0px; margin-bottom: 14px !important; width: 100% !important; }
.header-nav li > a:nth-child(7) {padding: -15px 0 !important; color: white !important;}

.header-nav li:nth-child(8) {background-color: #54be73; border-radius: 12px; padding: -15px 0 !important; }
.header-nav li > a:nth-child(8) {padding: -15px 0 !important; color: white !important;}

}

.dropdown-menu {
    position: relative !important;}

.below-title,
.title {
  font-size: 46px;
}

.thecontent {
  height:1000px;
}

.slider {
  height:70vh;
  overflow:hidden;
}

.slider .swiper-slide {
  position:relative;
  overflow:hidden;
}

.slider .swiper-slide .slide-content__wrapper {
  position:relative;
  display:flex;
  justify-content:center;
  height:100%;
  align-items:center;
}


.slider .swiper-slide:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: black;
  z-index:1;
  opacity:0.6;
}


.slide-content__inner {
  display:flex;
  width:100%;
  max-width:50%;
  z-index:2;
  flex-direction: column;
  align-items:center;
  transition: 0.8s ease-in-out;
  overflow-x: hidden;
  overflow-y: visible;
  
}

.slider .swiper-slide .image-area {
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

 .slide-content__title {
  font-size:46px;
  font-weight:700;
  color: white;
  letter-spacing: 5px;
  position:relative;
  transition: 0.5s ease-in-out;
   opacity: 0;
}

.slide-content__description {
  color:#e0e0e0;
  font-size:18px;
  letter-spacing: 2px;
  opacity: 0;
  overflow:hidden;
  transition: 0.5s ease-in-out;
  margin-top:1rem;
}

.next-ctrl, .prev-ctrl {
  height:100%;
  width:100px;
  top:0;
}

.next-ctrl {
  right:0;
  bottom:0;
  transition: 0.5s ease-in-out;
}

.next-ctrl::after, .prev-ctrl::after {
  color:white;
  opacity:0.2;
}



.next-ctrl:hover::after, .prev-ctrl:hover::after {
opacity: 1;
}
.prev-ctrl {
  right:0;
  bottom:0;
}

 .active .slide-content__wrapper .slide-content__inner .slide-content__title,
 .active .slide-content__wrapper .slide-content__inner .slide-content__description,
 .active .slide-content__wrapper .slide-content__inner .call-to-action {
  opacity: 1;
}

.active .slide-content__wrapper .slide-content__inner {

}

.slide-content__title::After {
    position: absolute;
    content: "";
    top: -25px;
    height: 10px;
    width: 200px;
    display: block;
    background: #54be73;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-slide-duplicate-active {
  opacity: 0;
  transition:none;
}

.riskbtn {
    background: #54be73 !important;
    padding: 8px 12px;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 17px;
    position: fixed;
    right: -64px;
    top: 480px;
    transform: rotate(-450deg);
    z-index: 111;
    border-radius: 5px;

}
.nu-fix-con {
    background: #54be73 !important;
    padding: 8px 12px;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    position: fixed;
    right: -50px;
    top: 320px;
    transform: rotate(-450deg);
    z-index: 111;
    border-radius: 5px;
}

.privacypolicy {width: 100%; background-color: white;}
.privacypolicy h1 {color: #002c42;}
.privacypolicy p {letter-spacing: 2px; line-height: 28px;}

.pricingplans {padding: 60px;}
.pricing-card {
  border: none;
  border-radius: 4px;
  margin-bottom: 28px;
  -webkit-transition: all 0.6s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.6s; }
  .pricing-card .card-header {
    background-color: #002347;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 36px; }
  .pricing-card .card-body {
    padding: 22px 35px 27px; }

.pricing-plan-title {
  font-size: 20px;
  color: inherit;
  margin-bottom: 0;
  font-weight: normal; }

.pricing-plan-cost {
  font-size: 28px;
  font-weight: bold; }

.pricing-plan-features {
  list-style: none;
  padding-left: 0;
  color: #303132;
  font-size: 14px;
  line-height: 2.86;
  margin-bottom: 16px; }
  .pricing-plan-features li {
    border-bottom: 1px solid #e3e3e3; }
    .pricing-plan-features li:last-child {
      border-bottom: none; }

.pricing-plan-purchase-btn {
  color: #fff;
  background-color: #54be73;
  border-color: #54be73;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 20px;
  border-radius: 6px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative; }
  .pricing-plan-purchase-btn:hover {
    border: 1px solid #54be73;
    background-color: #fff;
    color: #54be73; }



@media screen and (min-width:750px) {
  img {
    width:100%;
  }
  
}

.slide {
  grid-area: slide;
}
.block-call-to-action {
  background-color: #fff;
  color: #fff;
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 84vh;
  position: relative;
}
.black-gradient {
  width: 100%;
  height: 84vh;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(255, 255, 255, 0.1)
  );
  z-index: 1;
  position: absolute;
}

.title {
  font-size: 46px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}
.below-title,
.call-to-action {
  font-weight: 300;
  text-align: center;
}
.below-title {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 25px;
  letter-spacing: 2px;
  z-index: 2;
}
.btn {
  cursor: pointer;
  touch-action: manipulation;
  z-index: 2;
}
.call-to-action {
  background-color: #004d73;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 5px;
  padding: 12px 48px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  overflow:hidden;
  transition: 0.5s ease-in-out;
  margin-top:1rem;
}
.call-to-action:hover {color: white;}
@media only screen and (max-width: 425px) {
  .title {
    font-size: 2.5rem;
  }
  .below-title {
    font-size: 1.2rem;
  }
}


.slider-wrapper { 
  width: 100%; 
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
  clear:both;
}

.equity{margin: 0; padding: 0;}


.nivo-control {display: none;}
.nivoSlider img {height: 100%; margin: 0; padding: 0;}
.nivo-directionNav a {padding: 15px 20px; border: 1px solid white;}
.nivo-directionNav a:hover {color: white; text-decoration: none;}

.nivo-prevNav {left: 50px !important; color: white; text-transform: uppercase;}
.nivo-nextNav {right: 50px !important; color: white; text-transform: uppercase;}

.nivo-caption {left: 50% !important; width: 20% !important; line-height: 54px !important; bottom: 50% !important; transform: translate(-50%,25%); text-align: center; font-size: 40px; padding: 50px 80px;}

.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
    padding: 10px 0;
}

.marquee:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 30em }
    100% { text-indent: -105em }
}

.welcome-left {
    padding: 30px 0;

}

.head-main {
    text-align: center;
}

.head-main h1 {
    font-family: 'Poppins' !important; 
    color: #54be73;
    font-size: 36px !important;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.head-main h1 span {
    color: rgba(6, 22, 58, 0.75);
    text-transform: uppercase;
    padding-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.head-main p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;

}

.box-icon-4 {
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;
    position: relative;
}

.box-icon-4 i {
    position: absolute;
    text-align: left;
    width: 50px;
    left: 0;
    margin-right: 15px;
    font-size: 32px;
    color: #54be73;
}

.box-icon-4 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #004d73;
}

.light-bg {
    background: #f0f3f4;
}
.section-pad {
    padding: 70px 0;
}

.card {background-color: white; border-radius: 14px;}
.card img {border-radius: 14px 14px 0 0;}
.card-body {padding: 20px;}
.card-body h4 {color: #004d73; font-weight: 700; font-size: 20px;}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #54be73;
}

.testimonials{position: relative;background-repeat: no-repeat;background-size: cover;padding:50px 0;font-family:'Poppins', sans-serif}
/*.testimonials::before{content:'';position: absolute;right:0;left:0;top:0;bottom:0;background: rgba(255,216,50,.7);}*/
.testimonials .title {text-align: center;margin-bottom: 50px;position: relative;padding: 20px 0;max-width: 600px;margin: 0 auto;}
.testimonials .title h5 {color: #EB6D2F;line-height: 1.2em;font-size: 18px;font-weight: 900;margin-bottom: -3px;}
.testimonials .title h2 {color: #5A3733;line-height: 1.2em;font-weight: 900;font-size: 41px;letter-spacing: -1px;margin:0}
.testimonials .title img {margin-top: -10px;}
.testimonials .title p {margin: 0 0 10px;margin-bottom: 0;color: #5A3733;}
.testimonials .testi .item {background: #fff;padding: 50px 30px;border-radius:15px;}
.testimonials .testi .item .profile {display:flex;padding-left: 15px;}
.testimonials .testi .item .profile img {border-radius: 100%;width:50px;height:50px;object-fit:cover}
.testimonials .testi .item .profile .information {padding-left:20px;margin-bottom:15px}
.testimonials .testi .item .profile .information .stars i {color:#ffd832}
.testimonials .testi .item .profile .information p {font-size: 24px;margin: 0px auto 0px;color: #54be73;font-weight: 700;line-height: 1; margin-top:12px !important;}
.testimonials .testi .item .profile .information span {color: #004d73;font-weight: bold;margin-top: -4px;line-height: 1.6em;font-size: 14px;}
.testimonials .testi .item>p {margin-bottom: 15px;font-size: 16px;line-height: 1.6em;display: block;z-index: 2;font-style: italic;color: #5A3733;text-align: center;}
.testimonials .testi .item .icon {text-align: center;}
.testimonials .testi .item .icon i {font-size: 32px;color: #54be73;}

.section-services {
    padding: 60px;
    background-color: white;
    
}

.section-services .header-section {
    margin-bottom: 35px;

}

.section-services .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: #f70037;
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: #f70037;
}

.section-services .header-section .title span {
    color: #f70037;
}

.section-services .header-section .description {
    color: #6f6f71;
}

.section-services .single-service {
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 16px;
}

.section-services .single-service .part-1 {
    padding: 40px 40px 25px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);    
}

.section-services .single-service .part-1 i {
    margin-bottom: 25px;
    font-size: 50px;
    color: #54be73;
}

.section-services .single-service .part-1 .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.8em;
    color: #002347;
    text-align: left;
}

.section-services .single-service .part-2 {
    padding: 30px 40px 10px;
}

.section-services .single-service .part-2 .description {
    margin-bottom: 22px;
    color: #888490;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 32px;

}

.section-services .single-service .part-2 a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.section-services .single-service .part-2 a i {
    margin-right: 10px;
    color: #f70037;
}

.counters {
    background: #004d73;
    color: #fff;
    padding: 40px 20px;
    /*border-top: 3px lightskyblue solid;*/
}

.counters .container {
    
    text-align: center;
}

.counters i {
    color: lightskyblue;
    margin-bottom: 25px;
}

.counters .counter {
    font-size: 42px;
    /*margin: 10px 0;*/
    font-weight: 700;
    color: lightskyblue;
    /*padding-top: 35px;*/
}
.counters span {
    font-size: 42px;
    margin: 10px 0;
    font-weight: 700;
    color: lightskyblue;
}
.counters p {font-size: 16px;}

.video-sec {
    background: url(img/img-details.html);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.video-sec .overly {
    padding-top: 100px;
    padding-bottom: 100px;
}

.video-sec .overly:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.60);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.footer-top {background: #002c42; padding: 50px 0;}

.footer-links h5 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 2px solid #54be73;
    padding-bottom: 15px;
    width: 60%;
}
.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links ul li {padding-bottom: 7px;}
.footer-links ul li a {
    color: #fff;
}
.footer-links ul li a i {
    padding-right: 7px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #54be73;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #004d73;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.page-wrapper {
  width: 100%;  
  background: #f0f0f0;
  padding: 30px; }
  .page-wrapper .step-slide-wrapper {
    background: #fff;
    width: 100%;
    padding: 30px;
    margin: 0 auto; }
    .page-wrapper .step-slide-wrapper .steps-wrapper {
      text-align: center; }
      .page-wrapper .step-slide-wrapper .steps-wrapper .step {
        display: inline-block;
        margin: 15px;
        padding: 15px;
        background: white;
        color: black;
        border: 1px solid #3a2d7d; }
        .page-wrapper .step-slide-wrapper .steps-wrapper .step.activestep {
          background: #3a2d7d;;
          color: white; }
    .page-wrapper .step-slide-wrapper .step-slide {
      height: 0;
      min-height: 125px;
      transition: height .5s;
      position: relative; }
      .page-wrapper .step-slide-wrapper .step-slide fieldset {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0, 0);
        opacity: 1;
        transition: transform .25s, opacity .25s;
        z-index: 2;
        border: none;
        padding: 0; }
        .page-wrapper .step-slide-wrapper .step-slide fieldset input {
          width: 100%;
          padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;    
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px; }

    .page-wrapper .step-slide-wrapper .step-slide fieldset input:focus, .page-wrapper .step-slide-wrapper .step-slide fieldset input textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;}
    .page-wrapper .step-slide-wrapper .step-slide label {
      color: black;
    text-align: left;
    font-weight: 700;
    }
        .page-wrapper .step-slide-wrapper .step-slide fieldset.hidden {
          transform: translate(0, -50px);
          opacity: 0;
          z-index: 1; }
      .page-wrapper .step-slide-wrapper .step-slide .buttons {
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        text-align: center; }
        .page-wrapper .step-slide-wrapper .step-slide .buttons .button {
          display: inline-block;
          background: white;
          color: #3a2d7d;;
          border: 1px solid #3a2d7d;;
          cursor: pointer;
          padding: 10px 15px; }
          .page-wrapper .step-slide-wrapper .step-slide .buttons .button:hover {
            background: #3a2d7d;
            color: white; }
        .page-wrapper .step-slide-wrapper .step-slide .buttons .button.back, .page-wrapper .step-slide-wrapper .step-slide .buttons .button.send {
          display: none; }

          .fit-image {
    width: 20%;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.addentry fieldset input {
    width: 100%;
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}
.addentry fieldset input:focus, .page-wrapper .step-slide-wrapper .step-slide fieldset input textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;}
.addentry fieldset label {
    color: black;
    text-align: left;
    font-weight: 700;
}

.form-check {
    line-height: normal;
}

.form-check input {
    margin: 0 !important;
    margin-bottom: 10px !important;
    width: auto !important;
    margin-right: 10px !important;
    
}
.form-check-label {color: #888490 !important; font-weight: 500 !important;}
.form-check {
    font-size: 14px;
    font-weight: 600;
}
.form-check-inline {
    display: inline-block;
    margin-right: 16px;
}
.form-check {    
    min-height: 21px;
    /*padding-left: 24px;*/
    margin-bottom: 2px;
}

.form-check-label {
    margin-left: 5px;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 25px !important;
    display: inline-block !important;
}


.navbar-global {
  background-color: #3a2d7d;
}

.navbar-global .navbar-brand {
  color: white;
  float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 60px;
  /*margin-left: 200px;*/
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

.card-dashboard {
    margin-bottom: 1.563rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 0.375rem;
    height: calc(100% - 30px);
    border: 1px solid #E6E6E6;
}
.active-projects .dt-buttons .dt-button {
    position: absolute;
    top: -44px;
    right: 20px;
    font-size: 13px !important;
    color: #0D99FF;;
    font-weight: 400;
    background: rgba(13, 153, 255, 0.1);
    padding: 5px 12px;
    border-radius: 4px;
}

.action-entries {list-style-type: none; margin: 0; padding: 0;}
.action-entries li {display: inline-block;}
.action-entries li a {margin-right: 10px;}

.card-body {
    padding: 20px;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.icon-box.icon-box-lg {
    height: 70px;
    width: 70px;
    line-height: 70px;
}
.icon-box {
    height: 40px;
    width: 40px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 10px;
}
.bg-success-light {
    background: rgba(218, 245, 230, 0.5);
}
.rounded-circle {
    border-radius: 50% !important;
}
.icon-box svg {vertical-align: middle;}
.ms-3 {
    margin-left: 16px !important;
}
.total-projects h3, .total-projects .h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}
.text-success {
    color: #3ac977;
}
.total-projects span {
    font-size: 14px;
    font-weight: 500;
    color: #2C2C2C;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.active-projects .tbl-caption {
    padding: 20px;
}
.heading-table {
    font-size: 16px;
    color: #2c2c2c;
    min-height: .01%;
}
.p-0 {
    padding: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}
table.dataTable.no-footer {
    border-bottom: 0;
    border-bottom: 1px solid #111;
}

table.dataTable {
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: content-box;
}
    
.table {
    color: strong;
    color-color: #6e6e6e;
}
.table > thead {
    vertical-align: bottom;
}
.active-projects thead tr {
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.active-projects thead tr th:first-child {
    padding-right: 0;
}
.active-projects thead tr th {
    font-size: 13px;
    padding: 10px 16px;
    font-weight: 500;
    background-color: #3a2d7d;
    border: 0;
    vertical-align: middle;
    color: #fff;
}
.active-projects.manage-client tbody tr td {
    border-bottom: 1px solid #E6E6E6;
    padding: 18px 20px;
}
.active-projects tbody tr td:first-child {
    padding-right: 0;
}
.active-projects tbody tr td {
    font-size: 13px;
    font-weight: 400;
    padding: 10px 16px;
}
.active-projects .dataTables_info {
    padding-left: 20px;
    font-size: 12px;
}

.profit {color: green;}
.loss {color: red;}
.ltp {color: lightblue;}

.modal,
.modal-backdrop {
  display: none;
}

.modal.open,
.modal-backdrop.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  display: none; /* Hidden by default */
  padding-top: 100px; /* Location of the box */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-dialog{margin:auto;}
.modal-content {
  position: relative;
  margin: auto;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.modal-body .container {
  max-width:480px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#004d73;;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#004d73;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.navbar-inverse .navbar-toggle {
    border-color: #004d73;
    background-color: #004d73;
}

@media (max-width:480px){

 .slide-content__title {
  font-size:28px;
  letter-spacing: 2px;
}

.slide-content__description {
  font-size:14px;
  letter-spacing: 2px;
  margin-top:10px;
}

.next-ctrl, .prev-ctrl {
  height:70%;
  width:70px;
  top:0;
}

.call-to-action {

  font-size: 12px;
  letter-spacing: 1.75px;
  padding: 12px 32px;
  margin-top:10px;
}

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #ccc;
  border-right: none;
  padding: 15px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3a2d7d;
}

.searchTerm:focus{
  color: #3a2d7d;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #3a2d7d;
  background: #3a2d7d;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  height: 200px;
  overflow: scroll;
  background-color: white;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  
  background-color: #e9e9e9; 
}
.autocomplete-active {
  
  background-color: white !important; 
  color: #ffffff; 
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -135%);
}
.addentry {padding: 30px; /*margin-top: 64px;*/ background: white;}
.action-button {background: #3a2d7d !important; color: white !important;}

.card-profile { background-color: white; width: 100%; padding: 20px;}
.card-profile h1 {text-align: center; font-size: 32px; color: #3a2d7d; letter-spacing: normal;}

.btn-deleteuser {
    color: #fff;
    background-color: #FF5E5E;
    border-color: #FF5E5E;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 1.5px;
    border-radius: 4px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.daterange {margin: 0; padding: 0;}
.daterange input {width: 100%; border: 1px solid #ccc; padding: 15px;height: 36px; border-radius: 5px 0 0 5px; margin-bottom: 15px;}

.gauge-wrapper {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 20px 15px 15px;
}

.gauge {
  background: #e7e7e7;
  box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0!important;
  position: relative;
  overflow: hidden;
  margin-left: 75%;
}
.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: '';
  color: #fff;
  width: 60%;
  height: 60%;
  background: #15222E;
  border-radius: 100px 100px 0 0!important;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 21%;
  bottom: 0;
  color: #fff;
  z-index:10;
}

.gauge-center .label, .gauge-center .number {display:block; width: 100%; text-align: center; border:0!important;}
.gauge-center .label {font-size:0.75em; opacity:0.6; margin:1.1em 0 0.3em 0;}
.gauge-center .number {font-size:1.2em;}

.needle {
  width: 80px;
  height: 7px;
  background: #15222E;
  border-bottom-left-radius: 100%!important;
  border-bottom-right-radius: 5px!important;
  border-top-left-radius: 100%!important;
  border-top-right-radius: 5px!important;
  position: absolute;
  bottom: -2px;
  left: 20px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
  display:none;
  z-index:9;
}

.four.rischio1 .needle {animation: fourspeed1 2s 1 both; animation-delay: 1s; display:block;}
.four.rischio2 .needle {animation: fourspeed2 2s 1 both; animation-delay: 1s; display:block;}
.four.rischio3 .needle {animation: fourspeed3 2s 1 both; animation-delay: 1s; display:block;}
.four.rischio4 .needle {animation: fourspeed4 2s 1 both; animation-delay: 1s; display:block;}

.slice-colors {height:100%;}

.slice-colors .st {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;  
}


.four .slice-colors .st.slice-item:nth-child(2) {
  border-top: 50px #f1c40f solid;
  border-right: 50px #f1c40f solid;
  background-color:#1eaa59;
}

.four .slice-colors .st.slice-item:nth-child(4) {
  left:50%;
  border-bottom: 50px #E84C3D solid;
  border-right: 50px #E84C3D solid;
  background-color:#e67e22;
}


@-webkit-keyframes fourspeed1 {
  0% {transform: rotate(0);}
  100% {transform: rotate(16deg);}
}

@-webkit-keyframes fourspeed2 {
  0% {transform: rotate(0);}
  100% {transform: rotate(65deg);}
}

@-webkit-keyframes fourspeed3 {
  0% {transform: rotate(0);}
  100% {transform: rotate(115deg);}
}

@-webkit-keyframes fourspeed4 {
  0% {transform: rotate(0);}
  100% {transform: rotate(164deg);}
}

.text-success {    
    color: #3AC977;
}
.me-1 {
    margin-right: 8px !important;
}

.table-responsive tbody tr td {
    vertical-align: middle;
    border-color: #E6E6E6;
    white-space: nowrap;
}
.table-responsive th, .table-responsive td {
    border-color: #E6E6E6;
    padding: 16px 12px !important;
}
.text-danger {    
    color: #FF5E5E;
}
.sharp.btn-xs {
    padding: 2px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border: none;
}
.user-approve {background-color: #3AC977;}
.user-reject {background-color: #FF5E5E;}
.user-pending {background-color: #FF9F00;}

.dropdown-withdrawal {
   background-color: white;
   display: flex;
   flex-wrap: wrap;
   width: 320px;
  justify-content:space-between;
      border: 1px solid #ebebeb;

}

.dropdown__selected {
       border-bottom: 1px solid #ebebeb;

}
.dropdown__current {
   padding-left: 10px;
}

.dropdown__row {
      width: 100%;
  display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}
.dropdown__icon {
   background-color: #3a2d7d;
   display: block;
}

.dropdown__label{
   &:hover {
      background-color:#3a2d7d; 
      color: white;
   }
}
.dropdown__label, .dropdown__icon {
      box-sizing: border-box;

      padding: 5px 10px;

}

label.dropdown__row {
   input {
     display: none;
   }
}


.dropdown__seasons {
   width: 100%;
   display: flex;
   flex-direction: column;
   display: none;
}
.dropdown__label {
      border-bottom: 1px solid #ebebeb;

}

.dropdown__icon svg {
   transform: rotate(270deg);
   width: 10px;
   height: 10px;
   fill: #fff;
}
.btn-withdrawalrequest {background-color:#3a2d7d; color: white; border:0; padding: 6px 16px; border-radius: 8px;}


/*------------------*/
.dropdown-selection .dropdown-clickable{
    padding: 10px 18px;
    display: inline-block;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 5px;
    min-width: 200px;
    position: relative;
}
.dropdown-selection .dropdown-menu{
    border: none;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.16);
    min-width: 200px;
}
.dropdown-selection .dropdown-option{
    display: block;
    width: 100%;
    padding: 7px 15px;
    color: #333;
    font-size: 14px;
}
.dropdown-selection .dropdown-option:hover{
    background-color: #dfe2f6;
    color: #5161ce;
}
.dropdown-selection .dropdown-option.selected{
    background-color: #5161ce;
    color: #fff;
}
.dropdown-selection .dropdown-clickable:after{
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    border: none;
    position: absolute;
    right: 15px;
    font-size: 11px;
    top: 15px;
    color: #908d8d;
    transition: 0.5s;
}
.dropdown-selection .dropdown-clickable[aria-expanded="true"]:after{
    transform: rotate(180deg);
}

.btn-withdrawalrequest {background-color:#3a2d7d; color: white; border:0; padding: 6px 16px; border-radius: 8px;}

.hidden_clip {
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.form__field__wrapper {
  position: relative;
}
.show-hide-password {
  background: 0;
  border: 0;
  cursor: pointer;
  min-height: 60px;
  min-width: 70px;
  padding: 18px;
  position: absolute;
  right: 0;
  top: 14px;
}

@media (max-width:480px){
    .tradingview-widget-container {height: 102px !important;}
    .tradingview-widget-container iframe {height: 72px !important;}
    .header-top p {text-align: center !important; float: none !important;}
    
}

